<!doctype html>
<html lang="en" ng-app="pHashr">
<head>
  	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="Pashphrase Hasher"/>
  	<meta name="author" content="QUINTIX"/>

  	<title>Not a random password generator</title>
	 
	<script	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
	crossorigin="anonymous"></script>
<!--	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" type="application/javascript"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js" type="application/javascript"></script>
	<script src="./components/core.js" type="application/javascript"></script>
	<script src="./components/hmac.js" type="application/javascript"></script>
	<script src="./components/sha256.js" type="application/javascript"></script>  
	<script src="./components/enc-base64.js" type="application/javascript"></script>
	
<!-- Copyright (c) 2015, QUINTIX

All rights reserved.
Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

Uses Crypto-JS under BSD 3-Clause (c) 2009-2013 Jeff Mott All rights reserved.
https://code.google.com/p/crypto-js/wiki/License
"Redistribution and use in source and binary forms, with or without 
modification, are permitted provided that the following conditions are met:
*Redistributions of source code must retain the above copyright notice, 
this list of conditions, and the following disclaimer.
*Redistributions in binary form must reproduce the above copyright notice,
this list of conditions, and the following disclaimer in the documentation or 
other materials provided with the distribution.
*Neither the name CryptoJS nor the names of its contributors may be used to
endorse or promote products derived from this software without specific prior
written permission."
  
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
-->
<style type="text/css">
  body{ font-family:sans-serif; }
  form{  margin-left:auto; margin-right:auto; max-width:36em}
  form div {display:flex; margin-bottom:.5em}
  /* form div span {flex-grow:1} */
  /*form div {display:block}*/
  .labels{ margin-right:.25em; flex-shrink:0}
  #length {float:right; width:2em; text-align:right}
  #passPhrase {flex-grow:1}
  #passLength, #holdPhrase, #obCntrl {flex-grow:1}
  /* {display:inline-flex; flex-grow:100} */
  #obCntrl {text-align:left}
  #output {flex-wrap: wrap}
  
  .blurred {color:transparent; text-shadow: 0 0 6px rgba(0,0,0,1.0);}
/* does not work in IE11 or EDGE*/

  .blurred:active {color:inherit; text-shadow:none;}
  .status {color:blue}
  #passOut {font-family:monospace}
  #secretPin {margin-right:1em}
</style>

<script type="application/javascript">
"use strict";
var isMSBrowser = navigator.userAgent.match(/(MSIE|Trident|Edge)/) != null;

var pHashr = angular.module('pHashr',[]);
pHashr.controller('ctrl', function($scope){
	/*const*/ var MIN_IN = 12;
	/*const*/ var MIN_PIN = 4;
	//http://stackoverflow.com/questions/22603078/syntaxerror-use-of-const-in-strict-mode

	$scope.pwOut = "example blurtext" /*String()*/;
	$scope.pwPhrase = "Correct Horse? battery staple!";	

//	console.log("is there storage? " + (localStorage !== undefined));
	if(localStorage !== undefined) // for testing locally on IE11
	{	$scope.pwLength = parseInt(localStorage.getItem("pwLen")) || 9; 
			$scope.$watch('pwLength', function(_new,_old,_scope){
/*//persistance*/		localStorage.setItem("pwLen", _new); } ); 
		$scope.pwPin = localStorage.getItem("pin") || String();
			$scope.$watch('pwPin',function(_new,_old,_scope){
				localStorage.setItem("pin", _new); } ); 
	}	else	{
		$scope.pwLength = 9;
		$scope.pin = String();	
	}
	$scope.$watch('pwPin', update);
	$scope.$watch('pwLength', update);
	$scope.blur = true;	//this is more view than model related
		$scope.$watch('blur',function (_new,_old,_scope){
			blurOnChange(_new); return _new; } ) ;
	
	$scope.ppRegex = /[\W\d]/g;	//default: remove digits and non-word chars
	$scope.ppCleaned = String(); 	//cleaned passphrase
	$scope.$watch('pwPhrase', function (_new,_old,_scope){
		_scope.ppCleaned = clean(_new, _scope.ppRegex);
		update();
		return _new;
	});

	function clean(phrase,_regex){return phrase.toLowerCase().replace(_regex,"");}
	/*actual password generation; something more (or would it be less?)
	sophisticated could be done, say using the hash as a seed for a CSPRNG to be used 
	by a more traditional password generator; but IMO this (and the things I added 
	for the full-fledged standalone app I've been working on) is plenty good enough*/
	function update(){
		var charsCaptured = $scope.ppCleaned.length; 
	
		if (charsCaptured >=  MIN_IN) //enforce minimum character input length
			if($scope.pwPin.length < MIN_PIN)
				{ $scope.pwOut = trimB64_sha256(
					$scope.ppCleaned, $scope.pwLength); } //turn into chyme		
			else 	{ $scope.pwOut = trimB64_sha256HMAC(
					$scope.pwCleaned, $scope.pwPin, 
					$scope.pwLength);}
		else
			{ $scope.pwOut = (MIN_IN - charsCaptured) + " remain";}
	}

	function trimB64_sha256(string, length)
	{	var hash = CryptoJS.SHA256(string);
		return hash.toString(CryptoJS.enc.Base64).substring(0,length);}
	function trimB64_sha256HMAC(string,key,length)
	{	var hash = CryptoJS.HmacSHA256(string,key);
		return hash.toString(CryptoJS.enc.Base64).substring(0,length);}
	//todo: enforce mix-case letters; sanity check for length 
	//	console.log(trimB64_sha256(cleaned_input,9));
	//use passout to puke hash
});

var 	passOut, passPhrase, blurredStuff;
//if IE/Edge, swap between password and text type, because the use css shadow to blur hack does not work in IE/Edge
var blurOnChange = function(val){};

//onloaded
$(function(){
 	passOut = $("#passOut"),
	passPhrase = $("#passPhrase"),
	blurredStuff = $(".blurred");
	/*, passLength, secretPin, blurCheck = $("#blurMe")*/;
	blurOnChange = isMSBrowser ? 
	function(value){$.each(blurredStuff, 
		function(x,v){v.type = value ? "password" : "text"})} : 
	function(value){
		blurredStuff.toggleClass("blurred",value);};	//otherwise, toggle the shadow/text color css attribute
	blurOnChange(true);
	if(isMSBrowser)	{ blurredStuff.toggleClass("blurred", false); }

	passPhrase.click(function(){ //clears the example pass phrase on first click + user stars typing
		passPhrase[0].select();
		passPhrase.off('click');
	});
});


function selectFullPW(){passOut[0].select(); } //default click to select ends on 'punctuation'

function selectAndCopy(){
	selectFullPW();
	document.execCommand("copy");
}

</script>
</head>
<body>
<form ng-controller="ctrl">
<div>
        <span class="labels">Passphrase: </span>
	<input class="blurred" type="text" id="passPhrase" 
             	ng-model="pwPhrase"/>
</div>
		
<div>
	<div class="labels">Password Length: </div>
	<input id="passLength" ng-model="pwLength" type="range" 
		min="6" max="16" step="1" />
	<span id="length"> {{pwLength}} </span>
</div>
	
<div id="output">	
        <span class="labels">Pin:</span>
       	<input type="password" id="secretPin" size="4" ng-maxlength="4" ng-model="pwPin"/>
	<span id="obCntrl">Obscure Text?<input type="checkbox" id="blurMe" 
		ng-model="blur"/></span>
        <span> <span class="labels">Resulting Password: </span>
	<input ng-model="pwOut" class="blurred" id="passOut" type="text"  
		readonly size="16" onselect="selectFullPW()"/> </span>
		<button onclick="selectAndCopy()">⎘ Copy</button>
</div>
</form>
<!-- <script>onLoaded();</script> -->

<div style="display:block; font-size:small">
      <p>Fair warning: Selecting text will make the password visible. 
This tool is not intended as a complete replacement for memorization. Rather
it is for recalling passwords that are forgotten 
<a href="https://xkcd.com/936/">for one reason or another</a> and for the 
convient generation of new ones.</p>
        <p style="text-align:right">Still, why not 
<a href="http://www.passwordmeter.com/">check how strong your generated
password is?</a></p>
</div>
</body>
